/* Hero Section */
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 160px 125px;
  }
  
  /* Left Content */
  .hero-content {
    width: 629px;
    gap: 23px;
  }
  
  .hero-content h1 {
    width: 533px;
    font-family: "Clash Display", sans-serif;
    font-weight: 600;
    font-size: 72px;
    line-height: 110%;
  }
  
  .text-primary {
    color: #25324B;
  }
  
  .text-highlight {
    color: #26A4FF;
  }
  
  .hero-subtitle {
    width: 521px;
    font-family: "Epilogue", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 160%;
    color: #515B6F;
    opacity: 0.7;
  }
  
  /* Search Container */
  .search-container {
    width: 852px;
    height: 89px;
    padding: 16px;
    display: flex;
    align-items: center;
    background: #FFFFFF;
    border-radius: 6px;
    box-shadow: 
      0px 2.71px 4.4px #C0C0C007, 
      0px 6.86px 11.12px #C0C0C00A, 
      0px 14px 22.68px #C0C0C00C, 
      0px 28.84px 46.72px #C0C0C00F, 
      0px 79px 128px #C0C0C017;
      
   
}  
  
  
  .search-input, .search-dropdown {
    width: 305.5px;
    height: 57px;
    padding: 0 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
  
  .search-button {
    width: 180px;
    height: 57px;
    margin-left: 16px;
    background: #4640DE;
    color: #FFFFFF;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .popular-jobs {
    width: 412px;
    height: 26px;
    font-family: "Epilogue", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 160%;
    color: #202430;
    opacity: 0.7;
    padding: 5px 10px;
    border-radius: 4px;
    margin-top: 20px;
  }
  
  .hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 160px 125px;
  }
  
  /* Hero Image */
  .hero-image {
    position: absolute;
    top: 87px;
    left: 812px;
    width: 501px;
    height: 707px;
    
  }
  
  